:root {
    --primary1: hsl(193, 38%, 86%); /*Light Cyan */
    --primary2:  hsl(150, 100%, 66%); /* Neon Green*/
    --neutral1: hsl(217, 19%, 38%); /* Dark Grayish Blue */
    --neutral2: hsl(218, 23%, 16%); /* Dark Blue */
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}


.container{
    height: 100vh;
    background-color: var(--neutral2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.quoteBox{
    margin-top: 7.5rem;
    width: 80%;
    max-width: 540px;
    background-color: #313A48;
    display: flex;
    flex-direction: column;
    color: var(--primary1);
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 15px;
    line-height: 1.3;
    letter-spacing: -0.26px;
    box-shadow: 30px 50px 80px 0px #0000001A;
    align-items: center;
    position: relative;
}

.quoteBox h1{
    text-transform: uppercase;
    letter-spacing: 3.46px;
    text-align: center;
    color: var(--primary2);
    font-size: 0.6875rem;
}

.quote{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.separator{
    background-image: url('images/pattern-divider-mobile.svg');
    background-position: center center;
    background-repeat: no-repeat;
    height: 1rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--primary1);
}

.btn{
    background-color: var(--primary2);
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    border: none;
    background-image: url('images/icon-dice.svg');
    background-position: center center;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -2.0rem;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 0 0 40px var(--primary2);
}


@media(min-width: 1000px){
    .container{
        align-items: center;
        justify-content: center;
    }

    .quoteBox{
        margin-top: 0;
        padding: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 3rem;
    }

    .quoteBox h1{
        margin-top: 1.5rem;
        font-size: 0.8125rem;
    }

    .quote{
        font-size: 1.75rem;
        line-height: 1.5;
    }
}